<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
    <link rel="stylesheet" href="public/css/Login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
        <div class="forms">
            <form action="">
                <h1 class="tit">Login</h1>
                <p class="descrit">Faça login para acessar sua conta.</p>
                <div class="input-box">
                    <label for="email">Email</label>
                    <input type="text" id="email" placeholder="Digite seu email" required>
                </div>
                <div class="input-box">
                    <label for="email">Senha</label>
                    <input type="password" placeholder="Digite sua senha" required>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox"> Lembrar senha</label>
                    <a href="#">Esqueceu sua senha</a>
                </div>
                <button type="submit" class="btn">Login</button>
                <p class="sla">Não tem uma conta? <a href=""> Cadastre-se</a></p>
                <div class="linha">
                    <p class="linha-1"></p>
                    <p class="p1"> Ou faça login com </p>
                    <p class="linha-2"></p>
                </div>
                <button type="submit" class="bt"><img src="public/assets/img/Google.png" alt="">Google</button>
                <button type="submit" class="bt">Acesso Corporativo</button>
            </form>
        </div>
        <div class="image-container">
            <img src="public/assets/img/Group 4.png" alt="img-login">
        </div>
</body>
</html>
