<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site_PI</title>
    <link rel="stylesheet" href="public/css/pagina_2_pesquisa_cadastro.css">
</head>

<body class="cadastro">
    <header class="menu">
        <nav class="nav-menu">
            <div>
                <img class="img-logo" src="public/assets/img/logo_tweeb__1_-removebg-preview.png" alt="logo">
            </div>
            <div class="search-box">
                <a class="search-btn">
                    <img class="img-busca" src="public/assets/img/Search (1).png" alt="icon-search">
                </a>
                <input type="text" class="search-input" placeholder="Busca">
            </div>
            <ul class="menu-itens">
                <li class="item-menu1"><a href="" class="link-item">Cadastro</a></li>
                <li class="item-menu2"><a href="" class="link-item">Sobre</a></li>
            </ul>
        </nav>
    </header>
    <section class="teste-altura">
        <div class="bottom-bar"></div>
        <div class="btn">
            <img class="icon-btn" src="public/assets/img/Icon_voltar (1).png" alt="icon-botão">
            <div class="btn-text"><a href="pagina_1_pesquisa_cadastro.html">Voltar</a></div>
        </div>
        <main class="container">
            <div class="texto-container">
                <h2 class="h2">Qual seu conhecimento sobre tecnologia?</h2>
                <p class="p">Queremos te conhecer melhor, conte um pouco mais sobre você.</p>
            </div>
            <div class="container-cards">
                <div class="container-card1" tabindex="0">
                    <div class="wrapper">
                        <div class="banner-imagem">
                            <img src="public/assets/img/Instagram Post Dia Internacional do Gamer Tech Preto e Rosa (3) 3.png" alt="img1">
                        </div>
                        <h2 class="h1-card">Eu me interesso por games, computadores e hardwares.</h2>
                        <p class="p1-card">Acompanho as novidades de teclados, mouses, monitores e componentes internos. Estou sempre em busca de melhorias para o meu setup.</p>
                    </div>
                </div>
                <div class="container-card2" tabindex="0">
                    <div class="wrapper">
                        <div class="banner-imagem2">
                            <img id="imagem2" src="public/assets/img/Instagram Post Dia Internacional do Gamer Tech Preto e Rosa (4) 3.png" alt="img2">
                        </div>
                        <h2 class="h2-card">Eu me interesso por tecnologia para o dia a dia.</h2>
                        <p class="p-card">Gosto de som de alta qualidade, itens para otimizar energia. Estou sempre buscando formas de aprimorar minha experiência.</p>
                    </div>
                </div>
            </div>
            </div>
            <div class="btn2"><a href="pagina_3_pesquisa_cadastro.html">Continuar</a></div>
        </main>
        <footer></footer>
    </section>
</body>

</html>
